In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('train.csv')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
494          495         0       3
495          496         0       3
496          497         1       1
497          498         0       3
498          499         0       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
494                         Stanley, Mr. Edward Roland    male  21.0      0
495                              Yousseff, Mr. Gerious    male   NaN      0
496                     Eustis, Miss. Elizabeth Mussey  female  54.0      1
497                    Shellard, Mr. Frederick William    male   NaN      0
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1

     Parch            Ticket      Fare    Cabin Embarked
0        0         A/5 21171    7.2500      NaN        S
1        0          PC 17599   71.2833      C85        C
2        0  STON/O2. 3101282    7.9250      NaN        S
3        0            113803   53.1000     C123        S
4        0            373450    8.0500      NaN        S
..     ...               ...       ...      ...      ...
494      0         A/4 45380    8.0500      NaN        S
495      0              2627   14.4583      NaN        C
496      0             36947   78.2667      D20        C
497      0         C.A. 6212   15.1000      NaN        S
498      2            113781  151.5500  C22 C26        S

[499 rows x 12 columns]

In [4]:
y = df['Survived'].values.reshape(-1,1)
data = df.drop(["Name",'SibSp','Parch','Fare','Ticket','Cabin','Embarked','PassengerId','Survived'], axis=1)
print(data)

     Pclass     Sex   Age
0         3    male  22.0
1         1  female  38.0
2         3  female  26.0
3         1  female  35.0
4         3    male  35.0
..      ...     ...   ...
494       3    male  21.0
495       3    male   NaN
496       1  female  54.0
497       3    male   NaN
498       1  female  25.0

[499 rows x 3 columns]

In [5]:
print(data.isnull().sum())

Pclass      0
Sex         0
Age       102
dtype: int64

In [6]:
data['Age'] = data['Age'].fillna(data['Age'].mean())
print(data)

     Pclass     Sex        Age
0         3    male  22.000000
1         1  female  38.000000
2         3  female  26.000000
3         1  female  35.000000
4         3    male  35.000000
..      ...     ...        ...
494       3    male  21.000000
495       3    male  29.217884
496       1  female  54.000000
497       3    male  29.217884
498       1  female  25.000000

[499 rows x 3 columns]

In [7]:
data['Sex'] = data['Sex'].map({'male': 1 ,'female':2})

print(data)

     Pclass  Sex        Age
0         3    1  22.000000
1         1    2  38.000000
2         3    2  26.000000
3         1    2  35.000000
4         3    1  35.000000
..      ...  ...        ...
494       3    1  21.000000
495       3    1  29.217884
496       1    2  54.000000
497       3    1  29.217884
498       1    2  25.000000

[499 rows x 3 columns]

In [8]:
import math 
print(y.shape)
J = 0
m = data.shape[0]
# print(m)
alpha = 0.01

b = 1
w = np.ones(data.shape[1]).reshape(-1,1)
# print(w.shape)

for i in range(1000):

    z = np.dot(data,w)+b
    # print(z)
    def sigmoid(z):
        return (1/(1+np.exp(-z)))

    a = sigmoid(z)
    a = np.clip(a, 1e-15, 1-1e-15)
    # print(a.shape)
    J = -(1/m)*np.sum((y*np.log(a)+(1-y)*np.log(1-a)))
    da = np.sum((-y/a)+((1-y)/(1-a)))/m
    dz =a - y
    # print(dz.shape)
    dw = np.dot(data.T,dz)/m
    # print(dw.shape)
    db = np.sum(dz)/m
    b = b - alpha * db
    w = w - alpha * dw
    # print("loss for iteration", i, "is", J)

    # print("w for iteration", i, "is", w)
    # print("b for iteration", i, "is", b)
print("w = ",w ,'and b= ',b)

(499, 1)
w =  [[-0.74314569]
 [ 1.22242414]
 [-0.0359817 ]] and b=  0.605431261825193

In [11]:
df1 = pd.read_csv('test.csv')
Xt = df1.drop(["Survived","Name",'SibSp','Parch','Fare','Ticket','Cabin','Embarked','PassengerId',], axis=1)
Xt['Sex'] = Xt['Sex'].map({'male': 1 ,'female':2})
Xt['Age'] = Xt['Age'].fillna(Xt['Age'].mean())
test = Xt.values
Yt = df1['Survived'].values.reshape(-1,1)
# print(test.shape)
z1 = np.dot(test,w)+b
at = sigmoid(z1)
at = np.clip(at, 1e-15, 1-1e-15)
Jt = -(1/m)*np.sum((Yt*np.log(at)+(1-Yt)*np.log(1-at)))
print("test loss is ",Jt)

test loss is  0.3780818041304613